src/** linguist-detectable=true
src/** linguist-documentation=false
src/** linguist-vendored=false

docs/** linguist-detectable=true
docs/** linguist-documentation=false
docs/** linguist-vendored=false

server/** linguist-detectable=true
server/** linguist-documentation=false
server/** linguist-vendored=false

build/buildMD/markdown/** linguist-vendored=true
build/buildMD/markdown_include/** linguist-vendored=true
build/buildMD/pymdownx/** linguist-vendored=true
