src/** linguist-detectable=true
src/** linguist-documentation=false
src/** linguist-vendored=false

docs/stylesheets/** linguist-detectable=true
docs/stylesheets/** linguist-documentation=false
docs/stylesheets/** linguist-vendored=false

docs/javascript/** linguist-detectable=true
docs/javascript/** linguist-documentation=false
docs/javascript/** linguist-vendored=false

server/** linguist-detectable=true
server/** linguist-documentation=false
server/** linguist-vendored=false

build/buildMD/markdown/** linguist-vendored=true
build/buildMD/markdown_include/** linguist-vendored=true
build/buildMD/pymdownx/** linguist-vendored=true

build/**.lua linguist-vendored
build/**/**.lua linguist-vendored
server/**.lua linguist-vendored
