[submodule "deps/promise"]
	path = deps/promise
	url = https://github.com/qwreey75/promise.lua
[submodule "deps/logger"]
	path = deps/logger
	url = https://github.com/qwreey75/logger.lua
[submodule "deps/random"]
	path = deps/random
	url = https://github.com/qwreey75/random.lua
[submodule "deps/myXml"]
	path = deps/myXml
	url = https://github.com/qwreey75/myXml.lua
