/*Tags*/
* {
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
  font-size: 16px;
}
div {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
body {
  background: #171717 url("../background.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0px 0px 0px 0px;
}
p {
  margin: 0px 0px 0px 0px;
}
svg text {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*Class*/
.center {
  transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
  top: 50%;
  left: 50%;
}
.window {
  backdrop-filter: blur(22px);
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 28px -4px rgba(0, 0, 0, 0.9);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.13);
}
.titlebar {
  /*titlebar*/
  font-size: 13px;
  height: 38px;
  width: 100%;
  display: flex;
  align-items: center;
}
.titlebar > p {
  /*titlebar text*/
  margin-left: 10px;
  font-size: 1em;
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
}

/*Background*/
#background {
  background: radial-gradient(
    rgba(0, 0, 0, 0.21),
    rgba(0, 0, 0, 0.32),
    rgba(0, 0, 0, 0.48)
  );
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}
#bglink {
  position: absolute;
  transform: translate(-100%, -100%);
  top: 100%;
  left: 100%;
  height: 18px;
  width: 150px;
  opacity: 0.6;
  font-size: 10px;
  right: 2px;
  text-align: right;
}
#copyright {
  position: absolute;
  transform: translate(-0%, -100%);
  top: 100%;
  font-size: 10px;
  opacity: 0.6;
  height: 18px;
  width: auto;
  left: 2px;
}

/*Page Holder*/
#page {
  max-width: 620px;
  margin-top: 19px;
  width: calc(100% - 38px);
  height: calc(100% - 38px);
}
.holder {
  /*content holder*/
  height: calc(100% - 38px - 6px);
  width: auto;
  margin-right: 6px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*custom scroll*/
.scrollY {
  overflow-y: scroll;
}
.scrollY::-webkit-scrollbar { /* total width */
  background-color:transparent;
  width:6px;
}
.scrollY::-webkit-scrollbar-track { /* scrollbar background */
  background-color:transparent;
}
.scrollY::-webkit-scrollbar-track:hover {
  background-color:transparent;
}
.scrollY::-webkit-scrollbar-thumb { /* scrollbar itself */
  background-color:#babac073;
  border-radius:16px;
}
.scrollY::-webkit-scrollbar-thumb:hover {
  background-color:#a0a0a58e;
}
.scrollY::-webkit-scrollbar-button { /* scroll button */
  display:none
}

/*Menu Main*/
#floatingMenu {
  margin-top: 19px;
  width: 200px;
  min-height: 320px;
  height: calc(50%);
  margin-right: 18px;
}
#floatingMenuSitemap {
  width: 100%;
  height: calc(100% - 50px);
}
#floatingMenuLinks {
  width: 100%;
  height: 42px;
  margin-top: 8px;
}
@media only screen and (max-width: 850px), (max-height: 350px) {
  #floatingMenu {
    display: none;
  }
}
